.input_container_label {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */ 
  color: var(--neutral-900, #111827); 
  margin-bottom: 4px;
}
.input_field_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px; 
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: var(--white-100, #FFF); 
  border: 1px solid var(--neutral-300, #D1D5DB);
  height: 40px;

  .input_field_wrapper {
    flex-grow: 1;
  }
  .input_field {
    outline: none;
    border: none;
    padding: 0 8px;
    height: 25px;
    width: 100%;
  }
}

.input_field_error_message {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  color: var(--neutral-900, red); 
  font-weight: 500;
  line-height: 20px; /* 142.857% */ 
  margin-bottom: 4px;
}

.input_border_error {
  border-color:  red; 
}
